body {
    display:block;
    padding-left: 20px;
    padding-right: 20px;
    height: 50vh;
}

header {  
    text-align: center;
    border-bottom: 1px solid #1b1c1d; /* Línea separadora fina */
    padding-bottom: 10px; /* Espaciado opcional debajo de la línea */
    background-image: url('img/web/headerFondo.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el elemento */
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
header h1 {
    margin: 0;
    color: aliceblue;
    text-shadow: 2px 2px 2px #000; /* Agrega un sombreado con un desplazamiento y color */
    -webkit-text-stroke: 1px black; /* Grosor y color del delineado */
}

header img {
    width: 100px; /* Ajusta el tamaño del logo según tus necesidades */
    vertical-align: middle; /* Centra verticalmente el logo */

}

#ctn-descripcion {
    max-height: 500px; /* Puedes ajustar la altura máxima según tus necesidades */
    overflow: auto;
    max-width: 700px;
    margin-left: 20px;
    margin-top: 60px;
    
}
#ctn-presentacion, #ctn-analisis-datos{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
}
#ctn-video{
    max-height: 500px;
    
    margin-left: 20px;
}

#graficaActividad img{
    width: 100%;
}
/*Estilo del scroll bar*/
::-webkit-scrollbar {
    width: 10px;
    background: #ffffff;
}
::-webkit-scrollbar-thumb{
    margin-right: -8px;
    border-radius: 10px;
    background: #cfcfcf;
}

#titulo1 {
    margin-left: 100px; /* Ajusta el margen izquierdo según tus necesidades */
  }

#grafica1 {
    margin-left: 20px; /* Ajusta el margen izquierdo según tus necesidades */

  }
  #grafica1 img {
    width: 110%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Para mantener la proporción original de la imagen */
    display: block; /* Elimina el espacio extra debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    
  }
#explicacion1 {
    font-size: 32px; 
    margin-right: 20px; /* Ajusta el margen derecho según tus necesidades */
    margin-top: 150px;
}

.separador {
    border-top: 2px solid #ccc; /* Estilo de la línea separadora */
    margin-top: 10px; /* Espaciado superior */
    margin-bottom: 20px; /* Espaciado inferior */
  }


#titulo2 {
    margin-left: 100px; /* Ajusta el margen izquierdo según tus necesidades */
  }

#grafica2 {
    margin-left: 20px; /* Ajusta el margen izquierdo según tus necesidades */

  }
  #grafica2 img {
    width: 110%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Para mantener la proporción original de la imagen */
    display: block; /* Elimina el espacio extra debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    margin-right: 20px;
  }
#explicacion2 {
    font-size: 32px; 
    margin-right: 20px; /* Ajusta el margen derecho según tus necesidades */
    margin-top: 100px;
}

#grafica3 img {
    width: 70%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Para mantener la proporción original de la imagen */
    display: block; /* Elimina el espacio extra debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

#explicacion3 {
    font-size: 25px; 
    margin-right: 20px; /* Ajusta el margen derecho según tus necesidades */
    margin-top: 50px;
}

#grafica4{
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Para mantener la proporción original de la imagen */
    display: block; /* Elimina el espacio extra debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

pre {
    border: 1px solid #ccc; /* Estilo de borde del bloque pre */
    padding: 10px; /* Añade un espacio interno para el contenido del bloque pre */
    border-radius: 5px; /* Ajusta el radio de las esquinas del borde */
    overflow: auto; /* Añade barras de desplazamiento si el contenido es demasiado grande */
}

code {
    display: block; /* Hace que el bloque de código sea de tipo bloque */
    background-color: #f8f8f8; /* Color de fondo para el bloque de código */
    border-radius: 3px; /* Ajusta el radio de las esquinas del bloque de código */
    overflow: auto; /* Añade barras de desplazamiento si el contenido es demasiado grande */
    white-space: pre-wrap; /* Mantiene el formato del texto y permite saltos de línea */
    margin: 0; /* Elimina el margen por defecto */
}

footer {
   
    background-color: #f0f0f0; /* Color de fondo para el footer */
    padding: 50px;
    border-top: 1px solid #ccc; /* Línea superior */
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 8px 0;
    font-size: 20px; /* Ajusta el tamaño de la fuente de los nombres */
    display: flex; /* Utiliza flexbox para centrar verticalmente el punto gordo */
    text-align: left; /* Alinea el texto a la izquierda */
}

li::before {
    content: '\2022'; /* Código del punto gordo */
    font-size: 25px; /* Ajusta el tamaño del punto gordo */
    margin-right: 8px; /* Añade espacio entre el punto gordo y el nombre */
    color: black; /* Color del punto gordo */
}

#ctn-conclusion {
    margin-bottom: 50px;
    text-align: justify;
    max-width: 1000px;
    margin: 0 auto;
}

#ctn-conclusion h2 {
    color: #333; /* Color del título */
    font-size: 32px;
    text-align: center;
}

#ctn-conclusion p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

#ctn-conclusion p:last-child {
    margin-bottom: 0;
}

