<!DOCTYPE html>
<html lang="es">
<head>
    <title>Destinos turísticos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head>
<body>
    <header id="inicio">Six-Faced World Agency</header>
    <div>
        <nav class="container-fluid navbar navbar_default">
            <div class="nav-desplegable">
                <!--Icono de menu hamburguesa-->
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>   
             <!--Barra de navegacion desplegable-->
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav" id="collapse-navi">
                    <li class="nav-item"><a href="#inicio">Inicio</a></li>
                    <li class="nav-item"><a href="#destinos">Destinos</a></li>
                    <li class="nav-item"><a href="#contactos">Contacto</a></li>
                    <li class="nav-item"><a href="">Login</a></li>
                </ul>
            </div> 
            <!--Barra de navegacion normal-->
            <ul class="navi">
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#destinos">Destinos</a></li>
                <li><a href="#contactos">Contacto</a></li>
                <li><a href="">Login</a></li>           
                    
            </ul>
            
        </nav>
    </div>
    <main>
        <!--Aquí va el contenido de cada plantilla-->
    </main>
    <button id="botonFijo"><a href="#inicio"><span></span></a></button>
    <footer>
        <div id="contactos" class="contactosBar">
            <p>Si tienes alguna duda o sugerencia, <a href="mailto:jencina@ucm.es" id="contactoEnlace">contáctanos</a> </p>  
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>
